 <section class="content-header">
  <h1>
    RoR
    <small>Formularios</small>
  </h1>
</section>

<section class="content">
         <!-- REGISTRAR PERSONA -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Formularios</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
                
                    <div class="panel-body">
              
                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tes1">Calcular</a></li>
                  </ul>
                
                  <div class="tab-content">
                    <div id="test1" class="tab-pane fade in active">
                       
                        <%= form_for :producto, :url => {:controller => "tarea2", :action => "calcular_post"}, :method => :post, :html => { :class => "form-horizontal" , :id => "form_producto"}  do |f| %>
                        <h3>Operación Calcular</h3>
                        
                        <div class="form-group">
                            <div class="col-sm-2">
                                <input type="number" class="form-control" placeholder="Ingresar #A" name="opeA">
                                <input type="number" class="form-control" placeholder="Ingresar #B" name="opeB">
                                <input type="number" class="form-control" placeholder="Ingresar #C" name="opeC">
                                <label style="color: red;" ><%= @valC %></label>
                            </div>
                            
                            <div class="col-sm-2">
                                <input type="submit" value="Calcular"/>
                            </div>
                        </div>
                        
                        <% end %>
                        <p><%= @Ingresado %></p>
                        <h5>X1 : <%= @X1 %></h5> 
                        <h5>X2 : <%= @X2 %></h5> 
                       
                    </div>
                    
                  </div>
                  
                </div>
                
            </div>
            
          </div>
        </div>
      </div>
      
</section>

